<!DOCTYPE html>
<html>
<head>
  <title>Webjose</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	Esta es la cabecera con los links
</header>

<%= yield %>

<footer>
	Este es el footer con los links
</footer>
</body>
</html>
